APP_ENV=development

DB_HOST=127.0.0.1
DB_DATABASE=digitalm_mi_ecommerce
DB_USERNAME=forge
DB_PASSWORD=

API_VERSION=v2
URL_SISTEMA=https://dashboard.tastelatam.com/
URL_UPLOAD=/home/forge/dashboard.tastelatam.com/
URL_API=https://ordenes.on-forge.com/
URL_API_MOTORIZADOS=

MAIL_HOST=127.0.0.1
MAIL_AUTH=false
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=
MAIL_PORT=2525
MAIL_REPLY_TO=info@mie-commerce.com
MAIL_FROM=info@mie-commerce.com
